.pokemon-card
    font-family: "Verdana", sans-serif
    background: #3aaadb
    border: 1px solid #ffffff
    padding: 15px
    margin: 10px
    border-radius: 10px
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%)
    border-color: rgba(223, 225, 229, 0)
    border-top: 6px solid #ffd300
    border-bottom: 6px solid #ffd300
    cursor: pointer
    text-transform: capitalize
    transition: all 0.35s ease-in-out 0s
:hover
    background-color: #3e8e41
    color: white
    transform: scale(1.025)
    box-shadow: rgb(0 0 0 / 20%) 0px -4px 30px
